@use '../abstracts/' as *;

$font-folder: '/fonts/';

@mixin font-face($font-family, $url, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$url}.woff2') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@include font-face('KGHAPPYSolid', $font-folder + 'KGHAPPYSolid', 100);

@include font-face('Satoshi-Regular', $font-folder + 'Satoshi-Regular', 400);
@include font-face('Satoshi-Bold', $font-folder + 'Satoshi-Bold', 700);
@include font-face('NotoColorEmoji', $font-folder + 'NotoColorEmoji', 400);

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: 'Satoshi-Regular', 'NotoColorEmoji', sans-serif;
  font-weight: 400;
}

.title-font,
.title-font span {
  font-family: 'KGHAPPYSolid', 'NotoColorEmoji', sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 10rem;
  font-family: 'KGHAPPYSolid', 'NotoColorEmoji', sans-serif;
  font-weight: 100;
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
}
