---
export interface Props {
  size?: "small" | "large";
  color?: string;
}

const { size = "large", color = "#ffffff" } = Astro.props;

const darken = (color: string, amount: number): string => {
  if (!color) {
    return "#000";
  }

  let r: string | number = parseInt(color.substring(1, 3), 16);
  let g: string | number = parseInt(color.substring(3, 5), 16);
  let b: string | number = parseInt(color.substring(5, 7), 16);

  // Darken the color
  r = r * (1 - amount / 100);
  g = g * (1 - amount / 100);
  b = b * (1 - amount / 100);

  // Convert the color back to hexadecimal
  r = Math.round(r).toString(16);
  g = Math.round(g).toString(16);
  b = Math.round(b).toString(16);

  // Pad with leading zeros if necessary
  r = r.length === 1 ? "0" + r : r;
  g = g.length === 1 ? "0" + g : g;
  b = b.length === 1 ? "0" + b : b;

  // Return the darken color
  return "#" + r + g + b;
};
---

<style lang="scss">
  .chip {
    display: inline-block;
    border-radius: 0.5rem;
    background-color: var(--color-white-100);
    // color: var(--color-primary-100);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

    transition: transform 150ms cubic-bezier(0.5, 0, 0, 1);
    &:hover {
      transform: rotate(4deg);
    }
    &.small {
      padding: 0.2rem 0.4rem;
      p {
        font-size: 0.5rem;
        line-height: 1rem;
        font-weight: 700;
      }
    }
    &.large {
      padding: 0.5rem 0.75rem;
      p {
        font-size: 1rem;
      }
    }
  }
</style>
<span
  class={`chip ${size}`}
  style={{
    color: darken(color, 70),
    backgroundColor: color,
  }}
>
  <p>
    <slot />
  </p>
</span>
