---
export interface Props {
  name: string;
}

const { name } = Astro.props;
---

<style lang="scss">
  img {
    width: 30px;
    height: 30px;
  }
</style>

<img src={`/icons/${name}.svg`} alt={`${name}-icon`} />
