---
import Wave from "./Wave.astro";
---

<style lang="scss">
  @use "../styles/abstracts/annimations" as *;
  @use "../styles/abstracts/mixins" as *;
  .jumbotron {
    height: 60vh;
    min-height: 600px;
    max-height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: var(--color-primary-100);
    background: linear-gradient(
      -20deg,
      var(--color-primary-100) 35%,
      var(--color-purple-100) 100%
    );
    @include bp(sm) {
      height: 100vh;
    }
    .container {
      max-width: 1200px;
      width: 100%;
      height: 100%;
      padding: 2rem;
      box-sizing: border-box;
      border-radius: 3px;
      z-index: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &__title {
      color: var(--color-white-100);
      span {
        font-family: "KGHAPPYSolid";
        font-weight: 100;
        white-space: nowrap;
      }
      &__firstname,
      &__lastname {
        position: relative;
        color: var(--color-primary-150);
        display: inline-block;
        &::after,
        &::before {
          content: attr(data-title);
          position: absolute;
          left: 0;
          top: 0;
          overflow: hidden;
        }
      }
      &__firstname {
        &::after {
          color: var(--color-white-100);
          animation: firstname-wave-2 5s infinite ease-in-out;
        }
        &::before {
          color: var(--color-accent-100);
          animation: firstname-wave-1 5s infinite ease;
        }
      }
      &__lastname {
        &::after {
          color: var(--color-white-100);
          animation: lastname-wave-2 5s infinite ease-in-out;
        }
        &::before {
          color: var(--color-accent-100);
          animation: lastname-wave-1 5s infinite ease;
        }
      }
      &__dot {
        color: var(--color-accent-100);
      }
    }
  }
</style>

<header class="jumbotron">
  <div class="container">
    <h1 class="jumbotron__title">
      <span class="jumbotron__title__firstname" data-title="Malo">Malo</span>
      <span class="jumbotron__title__lastname" data-title="Polese">
        Polese<span class="jumbotron__title__dot">.</span>
      </span>
    </h1>
  </div>
  <Wave />
</header>
