---
import Chip from "./Chip.astro";
import ChipContainer from "./ChipContainer.astro";
import ResponsiveImage from "./ResponsiveImage.astro";
import type { Link, Project, Tag } from "../interfaces/project";
import { useStrapiMedias } from "../hooks/strapi-medias";
import type { Lang } from "../hooks/translations";
import { Image, Picture } from "astro:assets";

export interface Props {
  project: Project;
}

const { project } = Astro.props;

const media = useStrapiMedias();
---

<style lang="scss">
  .card {
    border-radius: 0.3rem;
    background-color: var(--color-white-100);
    padding: 1rem;
    width: 100%;
    position: relative;

    &__header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 1rem;
      .windows {
        .dot {
          display: inline-block;
          width: 10px;
          height: 10px;
          background: #f9f9f9;
          border-radius: 50%;
          margin: 0 4px 0 0;
          background: #4a5c66;
          &.red {
            background: #ff6057;
            border: 1px solid #e14640;
          }

          &.amber {
            background: #ffbd2e;
            border: 1px solid #dfa123;
          }

          &.green {
            background: #27c93f;
            border: 1px solid #1dad2b;
          }
        }
      }
      p {
        color: var(--color-primary-100);
        font-family: "Satoshi-Bold";
        font-size: 1.25rem !important;
        text-decoration: none;
        margin: 0 !important;
      }
    }

    &__links {
      display: flex;
      margin-top: 1rem;
      gap: 0.5rem;
      justify-content: flex-end;
      &__link {
        text-decoration: none;
        background-color: var(--color-primary-100);
        color: var(--color-white-100);
        border-radius: 0.2rem;
        padding: 0.4rem 0.5rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      color: var(--color-primary-100);
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }
</style>

<article class="card" transition:name="card">
  <header class="card__header">
    <p>
      {project.title}
    </p>
    <div class="windows">
      <span class="dot red"></span>
      <span class="dot amber"></span>
      <span class="dot green"></span>
    </div>
  </header>
  <main>
    <ResponsiveImage
      src={media(project?.heroImage?.url)}
      sizes={[400, 700, 900]}
      height={300}
      alt={`${project.title} - heroImage`}
      format="avif"
      quality="low"
      style={{
        marginBottom: "0.5rem",
        width: "100%",
        objectFit: "cover",
        aspectRatio: 16 / 9,
      }}
    />
    <ChipContainer>
      {
        project?.tags?.map((tag: Tag) => (
          <Chip size="small" color="#efed6d">
            {tag.name}
          </Chip>
        ))
      }
    </ChipContainer>
    {project?.description && <p>{project?.description}</p>}
    {
      project?.links && (
        <div class="card__links">
          {project?.links?.map((link: Link) => (
            <a
              class="card__links__link"
              target="_blank"
              rel="noopener noreferrer"
              href={link.url}
            >
              {link.name}
            </a>
          ))}
        </div>
      )
    }
  </main>
</article>
