---
import type { ImageOutputFormat, ImageQuality } from "astro";
import { getImage } from "astro:assets";

type Props = {
  src: string;
  alt: string;
  format?: ImageOutputFormat;
  sizes: number[];
  height: number;
  quality: ImageQuality;
  style: object;
};

async function generateResponsiveImage({
  src,
  format,
  sizes,
  height,
  quality,
}: Omit<Props, "alt">) {
  const imgSrcSet = sizes.map(async (size) => {
    const image = await getImage({ src, width: size, format, height, quality });
    return `${image.src} ${size}w`;
  });

  const imgSrc = await getImage({
    src,
    format,
    width: Math.max(...sizes),
    height,
  });

  return {
    srcSet: await Promise.all(imgSrcSet),
    imgSrc: imgSrc.src,
  };
}

const { src, sizes, format, alt, height, quality, style } = Astro.props;

const { srcSet, imgSrc } = await generateResponsiveImage({
  src,
  sizes,
  format,
  height,
  quality,
  style,
});
---

<img
  srcset={srcSet.join(", ")}
  alt={alt}
  src={imgSrc}
  style={{ ...style }}
  loading="lazy"
  decoding="async"
/>
