---

---

<style lang="scss">
  @use "../styles/abstracts/mixins" as *;

  .timeline-list {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    gap: 1rem;
    &__tile {
      display: flex;
      flex-direction: column;

      .container {
        align-self: center;
        max-width: 500px;
      }

      @include bp(sm) {
        .container {
          width: 50%;
          padding-right: 1rem;
          align-self: flex-start;
        }
        &:first-child {
          margin-bottom: 4rem;
        }
        &:last-child {
          margin-top: 4rem;
        }
        &:first-child,
        &:last-child {
          .container {
            padding: 0;
            align-self: center;
          }
        }
        &:nth-child(2n) {
          .container {
            align-self: flex-end;
            padding: 0;
            padding-left: 1rem;
          }
        }
      }
    }
  }
</style>

<li class="timeline-list__tile">
  <div class="container">
    <slot />
  </div>
</li>
